<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="/embed.js"></script>
    <link rel="icon" type="image/svg+xml" href="/Form-Fluoce.svg">
    <title>Form Fluoce</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Sora:wght@100..800&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="fluoce-form"></div>

</body>


</html>
<!-- 
<div class="fluoce-brand">
    <span class="form-powered-by">Powered by -</span>
    <a class="fluoce-link" target="_blank" rel="noopener noreferrer" href="https://fluoce.com">Fluoce</a>
</div> -->